matplotlib
# torch
tqdm
# facenet-pytorchD:\_TEST\SIC_Project\requirements.txt
imageio   
tensorflow[and-cuda]
scipy
numpy
flask-socketio
flask
flask_sqlalchemy
scikit-learn
imutils
imgaug
opencv-python
