:root{
    --text: #ffffff; 
    --primary-color: #19bdbe;
    --secondary-color: #ffd66d;
    --tertiary-color: #001715;
    --quaternary-color: #ffffff;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background: url('/static/images/bg.gif');
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 


.header-container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;    
    border-radius: 10px;
    /* position: relative; */
}



.header-container h2 {
    text-align: center;
    margin-top: 20px;
    color: var(--text);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    font-weight: bold;
    
}

.offcanvas {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    max-width: 50%; /* Giới hạn chiều rộng tối đa là 50% */
    height: 100vh !important; /* Chiều cao 100% của viewport */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.offcanvas.show {
    transform: translateX(0);
}
.offcanvas-header {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}


.offcanvas-body {
    padding: 60px 20px 20px;
}

.offcanvas .nav-link {
    padding: 10px 20px;
    font-size: 18px;
}

/* Làm mờ phần còn lại của màn hình */
.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* .navbar {
    background-color: transparent !important;
    box-shadow: none !important;
} */

.navbar-brand {
    font-weight: bold;
    color: var(--text);
}

.navbar-brand:focus, .navbar-brand:hover {
    color: unset;
}

.nav-link {
    color: var(--text);
    font-weight: 500;
    transition: color 0.3s ease;
}
/* 
.nav-link:hover, .nav-link.active {
    color: #009970;
} */

.login-button {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #2a90bf;
    transform: translateY(-2px);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-nav .nav-item .nav-link {
    color: var(--text); /* Màu chữ mặc định */
    padding: 10px 20px;
    margin: 5px 0;
    transition: all 0.3s ease;
    border-radius: 5px; /* Bo góc cho giống button */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fff; /* Màu chữ khi hover */
    background-color: var(--primary-color);/* Màu nền khi hover, bạn có thể thay đổi màu này */
    transform: translateY(-2px); /* Hiệu ứng nâng nhẹ khi hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ nhẹ */
}

/* Nếu bạn muốn giữ màu active cho mục menu hiện tại */
/* .navbar-nav .nav-item .nav-link.active {
    color: #190202;
} */

/* Tùy chọn: Thêm hiệu ứng khi click */
.navbar-nav .nav-item .nav-link:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], select {
    /* width: 100%; */
    padding: 8px;
    /* margin: 10px 0; */
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #cccccc;
}

th, td {
    padding: 5px;
    text-align: left;
}