{% extends "base.html" %}


{% block content %} 

<h1>Thông tin chi tiết sinh viên</h1>
<div class="container">
    <div id="left">
        <form action="{{ url_for('chitiet_gv_chitiet_gv.save_gv', teacher_id=teacher.idTeacher) }}" method="post">
            <div class="form-group">
                <label for="teacher_id">Mã giảng viên</label>
                <input type="text" id="teacher_id" value="{{ teacher.idTeacher }}" disabled>
            </div>
            <div class="form-group">
                <label for="teacher_lname">Họ</label>
                <input type="text" id="teacher_lname" value="{{ teacher.lname }}" >
            </div>
            <div class="form-group">
                <label for="teacher_fname">Tên</label>
                <input type="text" id="teacher_fname" value="{{ teacher.fname }}" >
            </div>
            <div class="form-group">
                <label for="teacher_birthday">Ngày sinh</label>
                <input type="text" id="teacher_birthday" value="{{ teacher.dob }}" >
            </div>
            <div class="form-group">
                <label for="teacher_address">Địa chỉ</label>
                <input type="text" id="teacher_address" value="{{ teacher.address }}" >
            </div>
            <div class="form-group">
                <button title="" type="submit">Lưu thay đổi</button>
            </div>
        </form>
    </div>
    <div id="right">
        <h2>Giảng viên thuộc lớp</h2>
        <table>
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Mã lớp</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for class in joined_class %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ class.idClass }}</td>
                    <td>
                        <form action="{{ url_for('chitiet_gv_chitiet_gv.delete_gv_class', teacher_id=teacher.idTeacher, class_id=class.idClass) }}" method="post" style="display:inline;">
                            <button type="submit">Xóa</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <label for="add_class">Thêm lớp</label>
        <form action="{{ url_for('chitiet_gv_chitiet_gv.add_gv_class', teacher_id=teacher.idTeacher)}}" method="post">
            <select name="add_class" id="add_class" required>
                <option value="" >Chọn lớp</option>
                {% for class in unjoin_class %}
                <option value="{{ class.idClass }}">{{ class.idClass }}</option>
                {% endfor %}
            </select>
            <button type="submit">Thêm</button>
        </form>
    </div>
</div>
{% endblock %}