{% extends "base.html" %}


{% block content %} 
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        display: flex;
        height: 100vh;
    }
    .left-panel {
        flex: 1;
        padding: 20px;
        background-color: #f0f0f0;
        overflow-y: auto;
    }
    .right-panel {
        flex: 1;
        padding: 20px;
        background-color: #e0e0e0;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }

    #cam {
    position: relative;
    height:unset;
    width: 100%;
    aspect-ratio: 4/3;
    }

    #video, #canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @media screen and (max-width: 800px) {
        .container {
            display: block;
        }
        .container>div {
            width: 100%;
        }
    }
</style>

<body>
<div class="container">
    <div class="left-panel">
        
        <div id="cam">
            <video id="video" width="640" height="480" autoplay></video>
            <canvas id="canvas" width="640" height="480"></canvas>            
        </div>
        <div id="cam2">
            <!-- <img id="img2" src="" alt="" srcset=""> -->
        </div>
        <div class="result">
            <h2>Kết quả</h2>
            <p id="result"></p>
        </div>
    </div>
    <div class="right-panel">
        <h2>Danh sách sinh viên</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên sinh viên</th>
                    <th>MSSV</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.svname }}</td>
                    <td>{{ student.mssv }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
<script>
    const video = document.getElementById('video');
    // const img = document.getElementById('img2');
    const cam = document.getElementById('cam');
    video.height = cam.offsetHeight;
    video.width = cam.offsetWidth;
        const socket = io();
        // const userId = 'unique_user_id';  // ID của người dùng
        // socket.emit('identify', { user_id: userId });
        // Khởi động webcam
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(err => {
                console.error('Error accessing webcam: ', err);
            });

        function captureFrame() {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imgData = canvas.toDataURL('image/jpeg');
            
            // Gửi khung hình đến server qua WebSocket
            socket.emit('frame', { image: imgData.split(',')[1] });
        }

        
        function startCapturing() {
            setInterval(() => {
                captureFrame();
            }, 200); // Chụp và gửi khung hình mỗi giây
        }

        // Bắt đầu quá trình chụp khung hình
        video.addEventListener('loadeddata', startCapturing);
        const canvas = document.getElementById('canvas');
        canvas.width = video.width;
        canvas.height = video.height;
        const ctx = canvas.getContext('2d');
        const text = document.getElementById('result');
        // Nhận kết quả từ server
        socket.on('update_results2', (data) => {
            // console.log(data)
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            if (data && data.persons_detected.length >0) {
                
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                // img.src = `data:image/jpg;base64,${data.img}`;
                
                text.innerText = ""
                data.persons_detected.forEach((e,i) => {                    
                    let p = e.accuracy.toFixed(2)
                    const textName = `${e.name} + ${e.name!="Unknown" ? `- Độ chính xác: ${p*100}%`:""}\n`
                    text.innerText += textName
                    // Vẽ hình chữ nhật và tên người được nhận diện                    
                    if (p<0.9) {
                        text.style.color = 'red';
                    }else{
                        text.style.color = 'green';
                    }
                    drawRectangles(ctx,e.x1,e.y1,e.x2,e.y2,e.name,p,text.style.color),p
                    });
            }
            else {
                console.log('No faces detected');
                 text.innerText = "Không thấy khuôn mặt",p
            }
        });

        function drawRectangles(ctx,x1,y1,x2,y2,text,p,color){
            
            ctx.strokeStyle = color; // Màu viền hình chữ nhật
            ctx.lineWidth = 2; // Độ dày của đường viền
            x1 = x1 * canvas.width;
            y1 = y1 * canvas.height;
            x2 = x2 * canvas.width;
            y2 = y2 * canvas.height;
            ctx.strokeRect(x1, y1, x2 - x1, y2 - y1);
            const textX = x1;
            const textY = y2 + 20;
            ctx.fillStyle = color; // Màu chữ
            ctx.font = '16px Arial';
            if (p>0.8)
                ctx.fillText(text, textX, textY);
            else
                ctx.fillText("Không xác định", textX, textY);

        }
        
    

</script>
</body>
{% endblock %}


    