{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %} 

<div>
    <!-- <h2> This is Home Page </h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
        <section class="hero fade-in" data-aos="fade-up">
            <h1>Nhận Diện Khuôn Mặt Hiệu Quả và Chính Xác</h1>
            <p>Dự án nhóm xây dựng mô hình nhận diện khuôn mặt qua webcam thực tế, đa khuôn mặt</p>
            <p>Chào mừng đến với hệ thống điểm danh bằng khuôn mặt, giải pháp hiện đại và tiện ích cho việc quản lý sự hiện diện.<br> Hệ thống này không chỉ cung cấp phương pháp điểm danh tự động mà còn nâng cao tính bảo mật và hiệu quả trong quản lý nhân sự và học sinh.</p>
            
        </section>
        
        <section class="features fade-in" data-aos="fade-left">
            <h2>Các Tính Năng Nổi Bật</h2>
            <div class="feature-list">
                <div class="feature">
                    <i class="fas fa-bullseye"></i>
                    <h3>Độ Chính Xác Cao</h3>
                    <p>Đảm bảo độ chính xác lên tới 95%.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-tachometer-alt"></i>
                    <h3>Tốc Độ Nhanh</h3>
                    <p>Nhận diện trong thời gian ngắn.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-lock"></i>
                    <h3>Bảo Mật Cao</h3>
                    <p>Dữ liệu của bạn được bảo vệ tuyệt đối.</p>
                </div>
            </div>
        </section>
        
        <section class="pricing fade-in" data-aos="fade-up">
            <h2>Gói Dịch Vụ</h2>
            <div class="plan">
                <h3>Gói Cơ Bản</h3>
                <p>$10/tháng</p>
                <button>Đăng ký</button>
            </div>
            <div class="plan">
                <h3>Gói Nâng Cao</h3>
                <p>$30/tháng</p>
                <button>Đăng ký</button>
            </div>
        </section>
        
    
        <footer>
            <div class="quick-links">
                <a href="#">Trang chủ</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Dịch vụ</a>
                <a href="#">Blog</a>
                <a href="#">Liên hệ</a>
            </div>
            <div class="contact-info">
                <p>Email: ou@ou.edu.vn</p>
                <p>Phone: 028-38364748</p>
                <p>Address: Ho Chi Minh City Open University, VietNam</p>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/TruongDaiHocMo" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2024 FaceRecog. All rights reserved.</p>
        </footer>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const elements = document.querySelectorAll('.fade-in');
  
      const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
          }
        });
      });
  
      elements.forEach(element => {
        observer.observe(element);
      });
    });
  </script>
  
{% endblock %}